<% About.forEach(about => { %>    
	
	<h1><%= about.history %></h1> 
	
	<p id="paragraphs">
	In 1492, Christopher Columbus made landfall in the New World on the island of San 
	Salvador. Roused by the encompassing shallow ocean, he depicted them as islands of 
	the "Baja mar" (shallow ocean), which has become The Islands Of The Bahamas. At the 
	point when he showed up, there were around 40,000 Lucayans. Their tranquil nature made 
	the Lucayans obvious objectives for oppression be that as it may, and inside 25 years, 
	the entirety of the Lucayans were cleared out because of the infections, hardships, 
	and subjugation they persevered.
    </p>
    
	<h2><%= about.settlement %></h2> 
	
	<p id="paragraphs">
	English Puritans known as "Eleutheran Adventurers" showed up here in 1649 looking for 
	strict opportunity. Rather, they discovered nourishment deficiencies. Skipper William 
	Sayles cruised to the American states for help and got supplies from the Massachusetts 
	Bay Colony. Upon his arrival, the pilgrims expressed gratitude toward them by 
	transportation them brasileto wood. The returns helped buy land for what later became 
	Harvard University.
    </p>
    
	<h2><%= about.piracy %></h2> 
	
	<p id="paragraphs">
	During the late 1600s to mid-1700s, numerous privateers and privateers came here, the 
	most well-known ones being Blackbeard and Calico Jack. There were likewise female 
    privateers like Anne Bonny and Mary Read masked as men.
    <br> 
	Our shallow waters and 700 islands made extraordinary concealing spots for treasure. 
	What's more, our closeness to very much voyaged dispatching paths made for the ideal spot 
	to take from shipper ships. There are gossipy tidbits about the shrouded treasure that 
	despite everything exist today. It is accepted that British privateer William Catt covered 
	plunder on Cat Island and Sir Henry Morgan, an affluent privateer, covered fortune all 
	through our islands.
    </p>
    
	<h2><%= about.nassau %></h2> 
	
	<p id="paragraphs">
	Set up around 1670 as a business port, Nassau was invaded by untamed, marine men. A long 
	time later, Nassau was decimated twice—once by Spanish soldiers, the other time by French 
    and Spanish naval forces.
    <br>
	Before long, privateers started plundering the intensely loaded freight ships. By 1718, 
	the King of England selected Woodes Rogers to fill in as the Royal Governor. His activity 
	was to reestablish a request. Furthermore, he did. He offered absolution to the individuals 
	who gave up. The individuals who opposed would be hanged. 300 privateers gave up and the rest, 
	including Blackbeard, fled.
	</p>
	
	<h2><%= about.civil %></h2> 
	
	<p id="paragraphs">
	From 1861 to 1865, The Islands Of The Bahamas profited significantly from the U.S. 
	Common War. England's material industry relied upon Southern cotton; be that as it 
	may, the Union barricaded British boats from arriving at Southern ports. So bar 
	sprinters from Charleston met British ships here and exchanged cotton for British
	products. Upon their arrival, they sold their shipment for colossal benefits. The 
	finish of the Civil War denoted the finish of success. In 1919, the United States 
	passed the eighteenth amendment forbidding liquor. The pilgrim government extended 
	Prince George Wharf in Nassau to oblige the progression of liquor. At the point when 
	Prohibition finished in 1934 so did the tremendous incomes. Joined with the breakdown 
	of the wipe reaping industry, it monetarily crushed The Bahamas.
	</p>
	
	<h2><%= about.tourism %></h2> 
	
	<p id="paragraphs">
	The Hotel and Steam Ship Service Act of 1898 made our ways for the world. This demonstration 
	gave the administration bolster expected to the development of hotels and sponsored steamship 
	administration. From that point forward, everything from Prohibition carrying wealthy 
    Americans to the conclusion of Cuba to Americans has affected the travel industry in our nation.
    <br>
	On July 10, 1973, The Bahamas turned into a free and sovereign nation, finishing 325 years of 
	serene British standard. Be that as it may, The Bahamas is an individual from the Commonwealth 
	of Nations and we observe July tenth as Bahamian Independence Day.
	</p>

	<footer>
        <p><a href="/">Home</a> | <a href="atlantis">Atlantis</a> | <a href="dolphin_cay">Dolphin</a> | <a href="about">About</a> | <a href="contact">Contact</a>
        </p>
	</footer>
<% }); %>