<% Dolphin_cay.forEach(dolphin_cay=> { %>
<h1><%= dolphin_cay.dolphin %></h1> 
	
	<p id="paragraphs">
	The Dolphin Cay was the principal recovery focus in the Bahamas. 
	It is the home to a 6-hectare (14-section of land) marine living
	space for protected bottlenose dolphins, ocean lions and manta beams.
	Care is given by more than 100 expert masters in marine natural life. 
	The principal warm blooded creatures discovered were 17 abandoned 
	bottlenose dolphins and 10 ocean lions. All these were saved from 
	Gulfport, Mississippi where Hurricane Katrina hit. Following quite a 
	while of restoration and care preparing began and the dolphins 
	learned orders with coaches. This permits Atlantis visitors to get 
	direct associations and encounters with every creature this remembers 
	hands-for and speaking with the dolphins. Numerous connections are 
	offered which incorporate shallow water encounters, swimming profound, 
	and oar boarding or kayaking over the tidal pond.
    </p>
    
	<abbr title="Photo by Dan Rogers from freeimages">
	<img src="images/pic10.jpg" alt="Dolphins photo by Dan Rogers from freeimages" id="dolphins">
    </abbr>
    
	<p id="paragraphs">
	What could be better than swimming uninhibitedly with these remarkable
	vertebrates in profound water? Underwater tumbling and the surge of 
	feeling the dolphins swim close to you are just a piece of this 
	supernatural experience. The ideal keepsake: your cover, snorkel, and 
	gift sack are all yours.
	</p>
	
	<p id="paragraphs">
	Dolphins are ideal for comfortable swimmers ages 6 and more established
	and include dolphin life structures shows, sidelong rubs, and perky swims
	close by the dolphins in a defensive, encased condition. You'll watch in
	wonder, through your own snorkel and veil, as they tumble submerged, 
	offering aerobatic aptitudes while astonishing to uncanny shape 
	acknowledgment and thing recovery. Life vests are accessible for buoyancy
	on the water's surface.
    </p>
    
<h2><%= dolphin_cay.trainer %></h2> 
	
	<p id="paragraphs">
	For children ages 6 to 10, the Junior Ultimate Trainer for a Day program vows
	to be an exciting and instructive day loaded up with fun and extraordinary 
	recollections. They'll get the opportunity to encounter direct the captivating 
	universe of dolphin and ocean lion mentors, and work nearby Aquarists taking 
	care of fish and ocean turtles. Restricted to only 12 children (in two gatherings 
	of six), the program keeps going four hours and incorporates lunch with Atlantis 
	Marine Mammal Specialists and Aquarists.
	</p>
	
	<p id="paragraphs">
	For an adventure of a lifetime, join the Trainer for a Day program at Dolphin Cay 
	and go through 6 hours with a Marine Mammal Specialist to take care of, train, 
	and care for extraordinary marine creatures. Experience redid dolphin and ocean 
	lion instructional meetings, take an in the background voyage through Dolphin Cay's 
	reality class offices, hand-feed stingrays and sharks, and even appreciate lunch 
	with an Atlantis Marine Specialist at the Cascades outside eatery at The Cove Atlantis.
	</p>
	
	<p id="paragraphs">
	Find an exceptional encounter where you'll collaborate with our fun loving 
	and magnetic dolphins in a defensive, encased condition.
    </p>
    
	<abbr title="Photo by Daniela Llano from freeimages">
	<img src="images/pic11.jpg" alt="Dolphin cay photo by Daniela Llano from freeimages" id="dolphin">
	</abbr>
    
<h2><%= dolphin_cay.experience %></h2> 
	
	<p id="paragraphs">
	This energizing dolphin experience starts with a direction and includes a 
	30-minute for water involvement with a defensive, encased condition. Wetsuits, 
	individual storage spaces, and beach towels are given, and a personal 
	photographer is appointed to your group.
	</p>
	
<h2><%= dolphin_cay.age %></h2> 
	
	<p id="paragraphs">
	Recommended for kids 6+ years. Children under 12 must be joined by a paying adult. 
	Children ages (6-9) might be required to wear life vests. Children ages 14-18 may 
	partake in the projects without a guardian yet an adult must be available and on
	location during the connection.
	</p>
	
<h2><%= dolphin_cay.cost %></h2> 
	<table>
		<tr> 
			<td>Average daily cost</td>
			<td>$125</td>
		</tr>
		<tr>
			<td>One week per person</td>
			<td>$865</td>
		</tr>
		<tr>
			<td>One week for a couple</td>
			<td>$1730</td>
		</tr>
		<tr>
			<td>Hotel for one person</td>
			<td>$65</td>
		</tr>
		<tr>
			<td>Meal for one day</td>
			<td>$40</td>
		</tr>
		<tr>
			<td>Local transportation</td>
			<td>$20</td>
		</tr>
		<tr>
			<td>Entertainment</td>
			<td>$25</td>
		</tr>
		<tr>
			<td>Intercity transportation</td>
			<td>$36</td>
		</tr>
	</table>
	
<footer>
	<p><a href="/">Home</a> | <a href="atlantis">Atlantis</a> | <a href="dolphin_cay">Dolphin</a> | <a href="about">About</a> | <a href="contact">Contact</a>
	</p>
</footer>
<% }); %>